@import 'font-awesome/scss/font-awesome.scss';

$bg-color: #3498db;
$bg-btn-color: lighten($bg-color, 10);
$bg-btn-hover-color: darken($bg-color, 10);
$blue-txt-color: #2980b9;
$notif-success-color:#2ecc71;
$notif-progress-color:#2c3e50;
$notif-fail-color:#e74c3c;

body {
  background-color: $bg-color;
  font-family: sans-serif;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;

  #root {
    width: 40vw;
    margin: 0 auto;

    .block {
      height: 100vh;
      display: flex;
      flex-direction: column;

      #title {
        text-align: center;

        & > a {
          color: whitesmoke;
          text-decoration: none;
        }
      }

      nav {

        & > ul {

          & > li {
            display: inline-block;
            margin: 10px 20px;

            &:hover {
              -webkit-box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, 1);
              -moz-box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, 1);
              box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, 1);
            }

            & > a {
              color: white;
              text-decoration: none;
              display: block;
              padding: 10px;
            }
          }
        }
      }

      .form-group {
        width: 40%;
        display: block;
        margin: 10px auto;
        text-align: center;

        & > label {
          text-transform: uppercase;
          font-size: 0.6em;
          color: white;
          display: block;
          margin: 10px auto 5px;
        }

        & > input {
          display: block;
          width: 100%;
          padding: 5px 0;
          background: transparent;
          border: none;
          border-bottom: solid white 2px;
          color: white;

          &:focus {
            outline: none;
          }

          &:-webkit-autofill {
            -webkit-box-shadow: none;
          }
        }

        & > button {
          border-radius: 10px;
          background-color: $bg-btn-color;
          color: white;
          font-size: 1em;
          padding: 10px 20px;
          box-shadow: none;
          border: none;

          &:hover {
            background: $bg-btn-hover-color;
            cursor: pointer;
            box-shadow: none;
          }
        }
      }

      .fa-user {
        color: green;
      }

      .user-form {
        flex: 1;
      }

      .block-messys {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        height: 100%;
        & > .list-messys {
          flex: 1;
          overflow-y: scroll;
          margin-bottom: 5px;

          & > .messy {
            background: lightblue;
            margin: 10px 5px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            display: flex;

            & > .user-block {
              width: 110px;
              background-color: #ecf0f1;

              & > .user {
                margin: 5px 5px auto auto;
                text-align: center;
                height: 100%;

                & > img {
                  margin: 5px 5px auto auto;
                }

                & > p {
                  margin: 5px 5px 5px auto;
                  text-align: center;
                }
              }
            }

            & > .content-block {
              flex: 1;
              display: flex;
              flex-direction: column;
              padding-left: 5px;

              & > p {
                flex: 1;
                color: $bg-color;
              }

              & > .delete-block {
                position: absolute;
                top: 10px;
                right: 10px;
                background: transparent;
                & > a {
                  border-radius: 5px;
                  color: #2980b9;
                  padding: 3px;

                  &:hover {
                    background: white;
                  }
                }
              }

              & > .date-block {
                text-align: right;
                color: $blue-txt-color;
                padding: 5px;

              }
            }
          }
        }

        .own-messy {

          & > .user-block {
            order: 2;
          }

          & > .content-block {
            order: 1;

            & > p {
              order: 1;
            }

            & > .date-block {
              order: 2;
            }
          }
        }

        & > .write-form {
          height: 50px;
          background: white;

          & > div {
            display: flex;
            height: 100%;

            & > textarea {
              height: 100%;
              margin: 0;
              flex: 1;
              font-size: 1.2em;
            }

            & > button {
              height: 100%;
              width: 50px;
              padding: 0;
              margin: 0;
              border: none;
              background-color: transparent;

              &:hover {
                cursor: pointer;
                background: $bg-btn-color;
              }
            }
          }
        }
      }

      *:visited {
        color: white;
      }

      a:hover {
        cursor: pointer;
      }

      .notification-block {
          position: absolute;
          top: 20px;
          right: 20px;
        & > div {

          padding: 10px;
          border-radius: 5px;
          color: white;
          margin: 5px auto;

          &.progress{
            background-color: $notif-progress-color;
          }

          &.success{
            background-color: $notif-success-color;
          }

          &.fail{
            background-color: $notif-fail-color;
          }

        }
      }
    }
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $bg-btn-color;
  }

}

@media screen and (max-width: 800px) {
  body {
    #root {
      width: 100%;
    }
  }

}